{% extends 'base.html' %}
{% load static %}
{% block title %}<title>{{ book }}</title>{% endblock %}

{% block content %}
    <div align="left">
        <table class="table">
            <tbody>
            <tr>
                <td><img src="{{ book.cover.url }}" width="200" height="200"></td>
                <td><h1>{{ book }}<img src="{% static 'books/rating-4.png' %}" width="150" height="100"/></h1>
                    <p>{{ book.author }}</p><span>{{ book.description }}</span></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div align="right" style="margin: 5px">
        {% if book.current_store > 0 %}
            <a href="/reserve/{{ book.id }}" class="btn btn-dark btn-sm" role="button" aria-pressed="true">Rent this
                book</a>
        {% else %}
            <button type="button" class="btn btn-dark btn-sm" disabled>Rent this book</button>
        {% endif %}
        {% if perms.auth.edit_book %}
            <a href="/book_edit/{{ book.id }}" class="btn btn-dark btn-sm" role="button" aria-pressed="true">Edit</a>
        {% endif %}
        {% if perms.auth.delete_book %}
            <button id="delete" type="button" class="btn btn-dark btn-sm" style="color: red" role="button" aria-pressed="true">
                Delete
            </button>
            </div>
            <div id="confirmation" align="right" style="margin: 5px" hidden>
                <p>Are you sure you want to delete this book?</p>
                <a href="/book_delete/{{ book.id }}" id="yes" class="btn btn-dark btn-sm" role="button" aria-pressed="true">Yes,
                    I'm sure</a>
                <button id="no" type="button" class="btn btn-dark btn-sm" role="button" aria-pressed="true">No</button>
            </div>
        {% endif %}
{% endblock %}