{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}<title>{% blocktrans %}Books{% endblocktrans %}</title>{% endblock %}

{% block content %}
    <div align="left">
        <table class="table table-striped">
            <tbody>

            {% for book in books %}
                <tr>
                    <td><img src="{{ book.cover.url }}"></td>
                    <td><a class="nav-link" style="color: #373B43" href="/book/{{ book.id }}">{{ book }}</a></td>
                    <td><a class="nav-link" style="color: #373B43"
                           href="/author/{{ book.author.id }}">{{ book.author }}</a></td>
                    <td>{% if book.current_store is 0 %}
                        <p style="color:red;">{{ book.current_store }}/{{ book.store }}</p>
                    {% endif %}
                        {% if book.current_store is not 0 %}
                            <p>{{ book.current_store }}/{{ book.store }}</p>
                        {% endif %}</td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}