{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block title %}<title>{% blocktrans %}Add{% endblocktrans %}</title>{% endblock %}


    {% block forms %}
<div class="col-8" style="margin: 5px">
        <div style="float:left;width:50%;margin-right: 30px">
            <form action="{% url 'book_add' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ book_form|crispy }}
                <button type="submit" class="btn btn-dark btn-sm" name="book_btn">{% blocktrans %}Add book{% endblocktrans %}</button>
            </form>
        </div>
        <div style="float:left;width:30%;margin-right: 10px">
            <form action="
        {% url 'book_add' %}" method="post">
                {% csrf_token %}
                {{ author_form|crispy }}
                <button type="submit" class="btn btn-dark btn-sm" name="author_btn">{% blocktrans %}Add author{% endblocktrans %}</button>
            </form>
        </div>
        <div style="float:left;width:30%">
            <form action="{% url 'book_add' %}" method="post">
                {% csrf_token %}
                {{ genre_form|crispy }}
                <button type="submit" class="btn btn-dark btn-sm" name="genre_btn">{% blocktrans %}Add genre{% endblocktrans %}</button>
            </form>
        </div>
       </div>
    {% endblock %}

