{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}<title>{% blocktrans %}My books{% endblocktrans %}</title>{% endblock %}

{% block content %}
    <div align="left">
        <table class="table table-striped">
            <tbody>
            {% for bookuser in bookuser_set %}
                <tr>
                    <td><img src="{{ bookuser.book.cover.url }}"></td>
                    <td><a class="nav-link" style="color: #373B43" href="/book/{{ bookuser.book.id }}">{{ bookuser.book }}</a></td>
                    <td><p class="nav-link">{{ bookuser.deadline.date }}</p></td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}