{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}<title>{{ user }}</title>{% endblock %}

{% block content %}
    <div style="margin: 5px">
        <h1>{{ user.first_name }} {{ user.last_name }}</h1>
        <p>email: {{ user.username }}</p>

        <table class="table table-borderedtable">
            <thead>
            <tr>
                <th>{% blocktrans %}Title{% endblocktrans %}</th>
                <th>{% blocktrans %}Author{% endblocktrans %}</th>
                <th>{% blocktrans %}Rent Date{% endblocktrans %}</th>
                <th>{% blocktrans %}Deadline{% endblocktrans %}</th>
                <th>{% blocktrans %}Return Date{% endblocktrans %}</th>
            </tr>
            </thead>
            <tbody>
            {% for bookuser in user.bookuser_set.all %}
                <tr>
                <td>{{ bookuser.book.title }}</td>
                <td>{{ bookuser.book.author }}</td>
                <td>{{ bookuser.rent_date }}</td>
                <td>{{ bookuser.deadline }}</td>
                <td>{{ bookuser.return_date }}</td>
                {% if bookuser.is_rented %}
                    <td><a href="/return/{{ bookuser.id }}/" class="btn btn-dark btn-sm" role="button" aria-pressed="true">{% blocktrans %}Return{% endblocktrans %}</a>
                    </td>
                {% else %}
                    <td>
                <button type="button" class="btn btn-dark btn-sm" disabled>{% blocktrans %}Return{% endblocktrans %}</button>
                    </td>
                {% endif %}
                {% if bookuser.is_rented %}
                    <td><a href="/extend/{{ bookuser.id }}/" class="btn btn-dark btn-sm" role="button" aria-pressed="true">{% blocktrans %}Extend{% endblocktrans %}</a>
                    </td>
                {% endif %}
                {% if not bookuser.is_rented %}
                    <td>
                <button type="button" class="btn btn-dark btn-sm" disabled>{% blocktrans %}Extend{% endblocktrans %}</button>
                    </td>
                {% endif %}
            {%   endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}