{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}<title>{% blocktrans %}Password forgotten {% endblocktrans %}</title>{% endblock %}

<div class="col-3">
    {% block forms %}

        <form action="{% url 'password_forgotten' %}" method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            {{ message }} <br>
            <button type="submit" class="btn btn-dark btn-sm">{% blocktrans %}Send{% endblocktrans %}</button>

        </form>


    {% endblock %}
</div>